<!doctype html>
<html>

<head>
    <title>Sing On Light - Histoire</title>
    <link rel="icon" href="static/images/favicon.ico">
</head>

<body>
    <link rel="stylesheet" href="static/css/style.css">
    <div class="parent">
        <div class="div1">
            <div class="div1a">
                <a class="indexBTN" href="/">Menu Principal</a><br>
                <a class="playBTN" id="currentBTN" href="/Mode.html">Jouer</a><br>
                <a class="calibrationBTN" href="/calibration.html">Calibration</a><br>
                <a class="dataBTN" href="/data.html">Données</a><br>
                <a class="creationBTN" href="/creation_rythme.html">Créer son propre rythme!</a><br>
                <a href="https://github.com/Bigouz/Projet-L1-Informatique-1er-semestre" target="_blank"
                    class="github">GitHub</a>

            </div>
        </div>
        <div class="div2">
    <button hidden id = "buttonHistoire" class="start" onclick="apparition()">Jouer </button>

              <img id="gifDragon" src="static/images/niveau_suivant.gif"  class="hidden">
  			<img id="loose" src="static/images/ecran_gameover.png"  class="hidden">
  			<img id="victory" src="static/images/ecran_victoire.png"  class="hidden">

	      <script>
        // appuie sur le bouton invisible
		document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("buttonHistoire").click();
		});
	</script>

	      <p>Vous êtes au niveau <span id="niveau">1</span></p>
		</div>
    
<script src = "static/js/highcharts.js"></script>
</body>

</html>
